html, body{
    height: 100%;
}

.form-container{
    max-width: 350px;
    padding: 1rem;
}

.imagem{
    width: 40px;
    border-radius: 10px; 
}

.botoes{
    
    background-color: transparent;
    border: none;
}

